doctype html
html(lang='en', ng-app='myApp')
	head
		title Poll Results
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='/angular/angular.min.js')
		script(src="/d3/d3.min.js")
		script(src="/c3/c3.min.js")
		script(src='../../javascripts/myApp.js')
	body(ng-controller='ResultsCtrl')
		.jumbotron.text-center(style="padding: 0px 0px 10px 0px;")
			img.img-responsive.center-block(src='../../poll.png', alt='Poll')
			h1 Poll Question
		.container
			div(id="pollResultsBarChart")
			div(id="pollResultsPieChart" style="margin-top:60px;")